<p>Home do Handlebars</p>

<ul>
    {{#each product}}
        <li>
            <h3>{{this.type}}</h3>
            <p>{{this.color}}</p>
            <p>{{this.price}}</p>
            <p><a href="">Link</a></p>
        </li>
    {{/each}}
</ul>