<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>body-handlebars</title>
  </head>
  <body>
    <header>
      Conteúdo do cabeçalho
    </header>

    {{body}}

    <footer>
      Conteúdo do rodapé
    </footer>
  </body>
</html>